<div class="container-fluid">
        <h1 class="header d-flex justify-content-center">Jars Saving</h1>
        <hr>
        <div class="form-group d-flex flex-direction-row justify-content-center align-items-baseline">
            <label class="label" for="salary">Your Salary</label>
            <input class="input_border" type="text" class="form-control" id="salary" placeholder="Salary...">
        </div>
        <div class="d-flex justify-content-center">
            <button type="number" onclick="jars()" class="btn btn-primary">Calculate</button>
        </div>

        <div class="row d-flex flex-wrap justify-content-center align-items-baseline">
            {{#each itemsSJ}}
                <div class="d-flex flex-column">
                    <img class="item_img" src={{image}}>
                    <h3 class="item_text d-flex justify-content-center">{{label}}</h3>
                    <h5 class="d-flex justify-content-center">{{number}}</h5>
                    <label class="d-flex justify-content-center" id="{{id}}">{{money}}</label>
                </div>
             {{/each}}
        </div>
      </div>
    <!-- Optional JavaScript -->
    <script>
        function jars() {
          console.log("Clicked");
            var total = document.getElementById("salary").value;
            var number = parseFloat(total);
            document.getElementById("necessities").innerText = (number * (55 / 100)).toFixed(2) + " vnd";
            document.getElementById("play").innerHTML = (number * (10 / 100)).toFixed(2) + " vnd";
            document.getElementById("education").innerHTML = (number * (10 / 100)).toFixed(2) + " vnd";
            document.getElementById("financial").innerHTML = (number * (10 / 100)).toFixed(2) + " vnd";
            document.getElementById("long-term").innerHTML = (number * (10 / 100)).toFixed(2) + " vnd";
            document.getElementById("charity").innerHTML = (number * (5 / 100)).toFixed(2) + " vnd";
        } 
    </script>